header {
  & a {
    display: flex;
    align-items: center;
    gap: .6875rem;
    margin-inline: auto;
    width: fit-content;

    & img {
      transition: transform 0.7s ease;
    }

    & span {
      color: var(--content-primary);
      font: var(--font-logo);
      letter-spacing: -4%;
      text-transform: uppercase;
      transition: color 0.7s ease;
    }

    &:hover {
      & img {
        transform: rotate(-70deg);
      }

      & span {
        color: var(--accent-pink);
      }
    }
  }
}

@media (width >= 72rem) {
  header {
    & a {
      margin-left: 0;
    }
  }
}
