*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Content Colors */
  --content-primary: #FFFFFF;
  --content-secondary: #C7C9CC;
  --content-tertiary: #D9D9D9;
  --content-brand: #C58DE7;
  --color-inverse: #030203;

  /* Background Colors */
  --background-primary: #020202;
  --background-secondary: #111012;
  --background-tertiary: #24222E;
  --background-brand: #C58DE7;
  --background-gray: #3D3D3D;

  /* Accent Colors */
  --accent-pink: #D586E0;
  --accent-blue: #91A1FA;
  --accent-green: #77C0A3;
  --accent-lime: #D1DC97;
  --accent-red: #E9A9B3;

  /* Gradient Colors */
  --gradient-border: linear-gradient(#77C0AF 0%, #D1DC97 14.84%, #E9A9B3 32.15%, #D586E0 65.79%, #91A1FA 84.58%);
  --gradient-background: linear-gradient(#D586E0 0%, #91A1FA 98.93%);
  --gradient-content: linear-gradient(#C7C9CC 0%, #3D3D3D 100%);

  /* Font Families */
  --ff-sora: "Sora", sans-serif;
  --ff-mono: "Roboto Mono", monospace;
  --ff-flex: "Roboto Flex", sans-serif;

  /* Display (Sora) */
  --font-logo: 700 1.5rem / 130% var(--ff-sora);
  --display-large: 700 4.5rem / 130% var(--ff-sora);
  --display-medium: 700 2.5rem / 130% var(--ff-sora);
  --display-small: 700 2rem / 130% var(--ff-sora);

  /* Typography - Monospace (Roboto Mono) */
  --text-overline: 700 1rem / 160% var(--ff-mono);

  /* Typography - Flex (Roboto Flex) */
  --paragraph-large: 500 1rem / 150% var(--ff-flex);
  --paragraph-medium: 500 .875rem / 150% var(--ff-flex);
  --paragraph-small: 500 .75rem / 150% var(--ff-flex);
  --label-large: 700 1.25rem / 150% var(--ff-flex);
  --label-medium: 700 1rem / 150% var(--ff-flex);
  --label-small: 700 .75rem / 150% var(--ff-flex);
}

body {
  min-height: 100dvh;
  /* max-width: 68.625rem; */
  margin-inline: auto;
  overflow-x: hidden;
  background-color: var(--background-primary);
  background-image: linear-gradient(180deg, rgb(0, 0, 0), rgba(0, 0, 0, 0.3)), url(../assets/shapes-background.png);
  padding: 2.75rem 1.5625rem;
}


a {
  text-decoration: none;
  color: inherit;
}

input,
button {
  border: none;
  background: none;
}

@media (width >=33.125rem) {
  body {
    padding: 2.5625rem 5.375rem;
  }
}

@media (width >=64rem) {
  body {
    padding: 4.5625rem 8.375rem;
  }
}