main {
  margin-top: 2.875rem;
  display: grid;
  gap: 3rem;
  justify-content: center;
  align-items: center;
}

@media (width >= 72rem) {
  main {
    margin-top: 6rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "title generator"
      "questions generator";
    column-gap: 4rem;
    row-gap: 2rem;
  }
}